.container-comics{
    border: 1px solid black;
    height:30rem;
    width:100%;
    background-color: rgb(25, 25, 25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    h2{
        text-align:center;
        color: white;
    }
    .comics{
        display: flex;
        justify-content: space-evenly;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        img{
            width:11rem;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        img:hover{
            width:12rem;
        }
    }
}