.navbar{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    // border-bottom:4px solid rgb(253, 253, 253);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding:10px;
    height: 5rem;
    width: 100%;
    // background-color: rgba(0, 0, 0,.8);
    position: absolute;
    .nav-img{
      margin-left:3rem;
      width:10rem;
      height: 5rem;
    }
    .Header{
    width:25%;
    padding:25px;
      h2{
        text-align:center;
        color: black;
      }
    }
    
    .Links{
      .navlink{
        color: rgb(255, 255, 255);
        font-size:1.2rem;
        
      }
    margin-left: auto;
    margin-right: auto;
      width:95%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        color: white;
        font-size: 1rem;
        text-align: center;
      .dropdown {
          float: left;
          overflow: hidden;
        }
  
        /* Dropdown button */
        .dropdown .dropbtn {
          font-size: 1.2rem;
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit; /* Important for vertical align on mobile phones */
          margin: 0; /* Important for vertical align on mobile phones */
        }
        /* Dropdown content (hidden by default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #000000;
          border-radius: .75rem;
          border: 1px solid white !important;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
  
        /* Links inside the dropdown */
        .dropdown-content a {
          float: none;
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
  
        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
          background-color: rgb(28, 28, 28);
        }
  
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }
        a{
          width: 10rem;
          text-align: center;
          padding:20px;
        }
      a:hover{
        border-bottom:1px white solid;
        border-radius:.75rem;
        // padding:-10px;
      }
      a:active{
        // background-color:black;
        color:white;
      }
      
    }
  }
  