@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
@font-face {
  font-family: JL;
  src: url(../Fonts/JUSTICELEAGUE.ttf);
}
body {
  background-color: rgb(27, 27, 27);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.home-container .home-2 {
  margin-top: -2.5rem;
  text-align: center;
  padding: 15px;
  font-size: 6rem;
  font-family: JL;
  width: 91.5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.home-container .home-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.home-container .ZSJL {
  height: 55.9rem;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.home-container .home-info {
  width: 45rem;
  display: block;
  padding: 10px;
}
.home-container .home-info p {
  width: 90%;
}
.home-container .home-info h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
}
.home-container .home-info .home-character {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}
.home-container .home-info .home-character img {
  height: 14rem;
  width: 9rem;
  margin: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.home-container .home-info .home-character a {
  text-align: center;
}
.home-container .home-info .home-character img:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.full-head {
  text-align: center;
  font-size: 4rem;
  font-family: jl;
}

.hr {
  border-top: 1px solid black;
}

.Full-Char {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.Full-Char div {
  width: 20rem;
  padding: 10px;
}
.Full-Char div h3 {
  text-align: center;
  position: relative;
  top: 26em;
  font-weight: bolder;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 5, 5);
  visibility: hidden;
  color: white;
}
.Full-Char div img {
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Full-Char div:hover {
  opacity: 0.9;
}
.Full-Char div:hover h3 {
  visibility: visible;
}

.mov-header {
  text-align: center;
  font-size: 6rem;
  font-family: jl;
}

.mov-hr {
  border-top: 1px solid rgb(49, 128, 255);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mov-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 30px;
  background-color: rgb(32, 32, 32);
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 1px solid rgb(49, 128, 255);
}
.mov-container img {
  width: 30rem;
  height: 20rem;
  margin-right: 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.mov-container h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.mov-container hr {
  border-top: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(253, 253, 253);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 15px;
  background-color: rgb(49, 128, 255);
}
.navbar .nav-img {
  margin-left: 3rem;
  width: 10rem;
  height: 5rem;
}
.navbar .Header {
  width: 25%;
  padding: 25px;
}
.navbar .Header h2 {
  text-align: center;
  color: black;
}
.navbar .Links {
  margin-left: auto;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1rem;
  text-align: center;
  /* Dropdown button */
  /* Dropdown content (hidden by default) */
  /* Links inside the dropdown */
  /* Add a grey background color to dropdown links on hover */
  /* Show the dropdown menu on hover */
}
.navbar .Links .navlink {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
.navbar .Links .dropdown {
  float: left;
  overflow: hidden;
}
.navbar .Links .dropdown .dropbtn {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.navbar .Links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  border-radius: 0.75rem;
  border: 1px solid white !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar .Links .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar .Links .dropdown-content a:hover {
  background-color: rgb(28, 28, 28);
}
.navbar .Links .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .Links a {
  width: 10rem;
  text-align: center;
  padding: 20px;
}
.navbar .Links a:hover {
  border-bottom: 1px white solid;
  border-radius: 0.75rem;
  padding: -10px;
}
.navbar .Links a:active {
  background-color: black;
  color: white;
}

.banner img {
  width: 100%;
  height: 45rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-bottom: white 3px solid;
}

.container-comics {
  padding: 30px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 30rem;
  width: 100%;
  background-color: rgb(25, 25, 25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container-comics .comic-2 {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-family: jl;
  margin-bottom: 1rem;
}
.container-comics .comics {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-comics .comics img {
  width: 11rem;
  height: 17rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-comics .comics img:hover {
  height: 18rem;
  width: 12rem;
}

.container-clips {
  margin-top: 2rem;
}
.container-clips .clip-2 {
  text-align: center;
  font-size: 4rem;
  font-family: jl;
}
.container-clips img {
  border: black 1px solid;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-clips .clips-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.container-clips .clips-flex {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.container-clips .clips-flex .clips-div1 {
  display: flex;
  justify-content: flex-start;
  width: 42rem;
  height: 21rem;
  border: 1px solid black;
  background-color: rgb(34, 34, 34);
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-clips .clips-flex .clips-div1 div {
  padding: 15px;
}
.container-clips .clips-flex .clips-div1 div h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(220, 220, 220);
}
.container-clips .clips-flex .clips-div1 div p {
  width: 70%;
  height: 45%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 0.98rem;
}
.container-clips .clips-flex .clips-div1 div button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10rem;
  height: 2rem;
  border-radius: 0.75rem;
  background-color: rgb(50, 50, 50);
  color: rgb(49, 128, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.container-clips .clips-flex .clips-div2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 42rem;
  border: 1px solid black;
  background-color: rgb(34, 34, 34);
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container-clips .clips-flex .clips-div2 img {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}
.container-clips .clips-flex .clips-div2 div {
  padding: 20px;
}
.container-clips .clips-flex .clips-div2 div h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(220, 220, 220);
}
.container-clips .clips-flex .clips-div2 div p {
  width: 65%;
  height: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.container-clips .clips-flex .clips-div2 div button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10rem;
  height: 2rem;
  border-radius: 0.75rem;
  background-color: rgb(50, 50, 50);
  color: rgb(49, 128, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.footer {
  margin-top: 3rem;
  box-shadow: 15px 15px 15px 15px black;
  border-top: white 2px solid;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgb(25, 25, 25);
}
.footer .one h2 {
  font-family: jl;
  text-align: center;
  font-size: 5rem;
  color: rgb(49, 128, 255);
}
.footer .one hr {
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: none;
}
.footer .one div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .one div img {
  height: 3rem;
  width: 3rem;
}
.footer .one div img:hover {
  height: 3.4rem;
  width: 3.4rem;
}
.footer .two {
  margin-top: 0rem;
  color: rgb(178, 0, 0);
}
.footer .tee {
  margin-top: 0rem;
  color: rgb(188, 0, 0);
}/*# sourceMappingURL=index.css.map */